.recipe-scroller {
  border-color: white;
}

.recipe-scroller::-webkit-scrollbar {
    background: transparent;
  }

.search-bar {
  text-align: center;
}

.calories-p {
  display: block;
  text-align: center;
  margin: 3;
}

.calories-l {
  display: block;
  text-align: center;
  margin: 3;
  font-weight: bold;
}

.card-calories {
  text-align: center;
}

ul {
  list-style-type: none;
}

.ingredient-size {
  text-align: center;
}

.recipe-img-thumb {
  max-width: 200;
  margin: 20px;
}

.cardTitle {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}
